.nav__logo:hover {
  color: #ff7261;
  transition: 200ms;
  cursor: pointer;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
}

.nav__item {
  margin: 0 10px;
}

.nav__link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.nav__link:hover {
  color: #ff7261;
  transition: 250ms;
  cursor: pointer;
}

.dig__logo {
  height: 30px;
}

button {
  text-decoration: none;
}
