.main {
  margin-top: 50px;
}

.main__logo {
  width: 100%;
  text-align: center;
}

.hero__1__img {
  width: 100%;
}

.hero__text {
  font-size: 2.4rem;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.hero__text1 {
  font-weight: bold;
}

.hero__text2 {
  font-weight: bold;
  color: #ff7261;
}

.card {
  background-color: rgb(151, 177, 182);
}

.btn {
  text-decoration: none;
}

.space {
  height: 100px;
}
