.main {
  width: 1080px;
  margin: auto;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .main {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .main {
    width: 100%;
  }
}
