.main {
  width: 1080px;
  height: 93vh;
  margin: auto;
}

.nf__layout {
  padding-top: 30px;
  text-align: center;
}

.nf__tittle {
  margin-bottom: 20px;
}

.nf__text {
  color: #ff7261;
}

.nf__logo {
  text-align: center;
  margin-bottom: -200px;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 80%;
    height: 93vh;
    margin: auto;
  }
}
@media screen and (max-width: 992px) {
  .main {
    width: 94%;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 94%;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .main {
    width: 94%;
    margin: auto;
  }
  nf__logo {
    width: 70%;
    margin-bottom: -100px;
  }
  nf__tittle {
    font-size: 1.5rem;
  }
}
